# Example usage

## Version check

In [1]:
import datatoolbelt

print(datatoolbelt.__version__)

0.1.0

## `pandastools` module

In [2]:
from datatoolbelt import pandastools

### `profile`

In [3]:
import numpy as np
import pandas as pd

pd.options.display.max_columns = None

In [4]:
data = {
    "a": [True, None, False, False, True, False],
    "b": [1, 2, 3, 4, 5, 6],
    "c": [1.0, 2.0, 3.0, None, 5.0, 2.0],
    "d": pd.Categorical([1, 2, 1, None, 1, 2]),
    "e": ["alice", "bob", None, "eric", "bob", None],
    "f": [0] * 6,
    "g": [None] * 6,
    "h": [float("nan")] * 6,
    "i": [np.nan] * 6,
    "j": pd.Categorical([1, 2, 1, 1, 1, 1]),
    "k": ["2", "1", "2", "1", "2", "1"],
}
df = pd.DataFrame(data)
df

       a  b    c    d      e  f     g   h   i  j  k
0   True  1  1.0    1  alice  0  None NaN NaN  1  2
1   None  2  2.0    2    bob  0  None NaN NaN  2  1
2  False  3  3.0    1   None  0  None NaN NaN  1  2
3  False  4  NaN  NaN   eric  0  None NaN NaN  1  1
4   True  5  5.0    1    bob  0  None NaN NaN  1  2
5  False  6  2.0    2   None  0  None NaN NaN  1  1

In [5]:
summary_df = pandastools.profile(df)
summary_df.T

,a,b,c,d,e,f,g,h,i,j,k
type,object,int64,float64,category,object,int64,object,float64,float64,category,object
count,5,6,5,5,4,6,0,0,0,6,6
isnull,1,0,1,1,2,0,6,6,6,0,0
unique,2,6,4,2,3,1,0,0,0,2,2
top,False,1,2.0,1,bob,0,NaN,NaN,NaN,1,2
freq,3.0,1.0,2.0,3.0,2.0,6.0,NaN,NaN,NaN,5.0,3.0
mean,NaN,3.5,2.6,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
std,NaN,1.870829,1.516575,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
min,NaN,1.0,1.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
5%,NaN,1.25,1.2,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
25%,NaN,2.25,2.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
50%,NaN,3.5,2.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
75%,NaN,4.75,3.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
95%,NaN,5.75,4.6,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
max,NaN,6.0,5.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
skewness,NaN,0.0,1.11808,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
kurtosis,NaN,-1.2,1.455577,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
efficiency,0.970951,1.0,0.960964,0.970951,0.946395,0.0,NaN,NaN,NaN,0.650022,1.0
isnullpct,0.166667,0.0,0.166667,0.166667,0.333333,0.0,1.0,1.0,1.0,0.0,0.0
uniquepct,0.333333,1.0,0.666667,0.333333,0.5,0.166667,0.0,0.0,0.0,0.333333,0.333333
freqpct,0.5,0.166667,0.333333,0.5,0.333333,1.0,NaN,NaN,NaN,0.833333,0.5

In [6]:
pd.reset_option("max_columns")